@import "../../../styles/variables.scss";

.modal.loan-modal {
  width: 30%;
  margin: calc(5% + 40px) auto;
  background-color: #fff;

  transition: all .35s ease-in-out;
  border: 1px solid black;

  padding: 5px 50px;
}

.Select-value {
  border: none;
  background-color: transparent;

  position: relative;
}

@media screen and (max-width: $navigation_mobile_breakpoint) {

  .loan-modal {
    width: calc(100% - 10px) !important;
    box-sizing: border-box;
    padding: 5px !important;

    .modal__footer {
      margin-top: 20px;
    }
  }
}