@import "../../styles/variables.scss";

$width: 40%;

.edition__header {
  font-size: 3em;
  margin-top: 0;
}

//search
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;

  width: $width;
  margin: auto auto 20px;
}

.search__icon {
  height: 2em;
  width: 2em;
  background-color: $color;
  color: #fff;
  border-radius: 0 $border-radius $border-radius 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.search__input {
  height: 2em;

  border-radius: $border-radius 0 0 $border-radius;
  border: 1px solid $color;
  color: $color;

  padding-left: 1em;
}

//pagination

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  list-style-type: none;
  margin: auto;
  width: $width;
  justify-content: flex-end;
  align-items: center;

  padding: 10px;
}

.pagination li {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .35s ease-in-out;

  & + li {
    margin-left: 10px;
  }
}

.page-selector.active {
  border: 1px solid $color;
  border-radius: 50%;
}

.page-selector:hover {
  color: $color-gray;
  cursor: pointer;
}

.next, .previous {
  padding: .2em 1em;
  border: 1px solid $color;
  border-radius: $border-radius;
  cursor: pointer;

  a {
    height: 24px;
  }

  &.disabled {
    color: $color-light-gray;
    border-color: $color-light-gray;
    cursor: not-allowed;
  }
}


@media screen and (max-width: $navigation_mobile_breakpoint) {
  .edition__header {
    font-size: 2em;
    margin-bottom: .5em;
  }

  .search {
    width: 100%;
  }

  .search__input {
    flex-grow: 1;
  }

  .pagination {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;

    justify-content: space-between;

    li {
      width: 24px;
      height: 24px;
    }
  }

  .previous, .next {
    padding: .5em;
  }
}