@import "../../../views/styles/variables.scss";

.books__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}

.books__filters {
  display: flex;
  flex-direction: column;
}

.books__actions .search {
  margin: unset;
}

.filter {
  align-items: center;

  + .filter {
    margin-top: 10px;
  }
}

.filter .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter .button.selected {
  border: 1px solid $color;
  color: $color;
  background-color: #fff;
}

//search books
.search__wrapper {
  position: relative;
  padding: 0 10px 0 10px;
  flex-grow: 1;

  margin: 0 50px;

  display: flex;
}

.search__box {
  padding-left: 50px;
  font-size: 24px !important;
}

.search__box__icon__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  display: flex;
  align-items: center;
}

.search__box__icon {
  color: $color;
}

.clear__search {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;

  z-index:1;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: $color;
  cursor: pointer;
}

.search__box:not(:valid) ~ .clear__search {
  display: none;
}

.popover__books__filters {
  box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;
}

.Popover-body {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  background: hsl(0, 0%, 27%);
  color: white;
  border-radius: 0.3rem;
}

.Popover-tipShape {
  fill: hsl(0, 0%, 27%)
}

@media (max-width: $navigation_mobile_breakpoint) {
  .books__actions {
    flex-wrap: wrap;
    padding: 0;
  }

  .books__filters {
    width: 100%;
    padding: 0 10px;
  }

  .filter {
    flex-grow: 1;
  }

  .search__wrapper {
    margin: 0 5px;
  }


}

