.books__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 25px; }

.books__filters {
  display: flex;
  flex-direction: column; }

.books__actions .search {
  margin: unset; }

.filter {
  align-items: center; }
  .filter + .filter {
    margin-top: 10px; }

.filter .button {
  display: flex;
  align-items: center;
  justify-content: center; }

.filter .button.selected {
  border: 1px solid rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff; }

.search__wrapper {
  position: relative;
  padding: 0 10px 0 10px;
  flex-grow: 1;
  margin: 0 50px;
  display: flex; }

.search__box {
  padding-left: 50px;
  font-size: 24px;
  height: 100% !important; }

.search__box__icon__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  display: flex;
  align-items: center; }

.search__box__icon {
  color: rgba(0, 0, 0, 0.87); }

.clear__search {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer; }

.search__box:not(:valid) ~ .clear__search {
  display: none; }

.popover__books__filters {
  box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

.Popover-body {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  background: #454545;
  color: white;
  border-radius: 0.3rem; }

.Popover-tipShape {
  fill: #454545; }

@media (max-width: 768px) {
  .books__actions {
    padding: 0;
    width: 90%;
    margin: auto; }
  .search__box__icon {
    left: 5px; }
  .search__box__icon__wrapper svg {
    height: 15px;
    width: 15px; }
  .search__box {
    height: 25px;
    font-size: 10px; }
  .search__box.form__input {
    height: 25px; }
  .popover__button .button {
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    padding: 0 .6rem; }
  .books__filters {
    width: 100%;
    padding: 0 10px; }
  .filter {
    flex-grow: 1; }
  .search__wrapper {
    margin: 0;
    padding: 0 10px 0 0; } }
