.books__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px; }

.books__filters {
  display: flex;
  flex-direction: row;
  list-style-type: none; }

.filter {
  align-items: center; }
  .filter + .filter {
    margin-left: 10px; }

.filter .button {
  display: flex;
  align-items: center; }

.filter .button.selected {
  border: 1px solid rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent; }

@media (max-width: 768px) {
  .books__actions {
    flex-wrap: wrap;
    padding: 0; }
  .button--add {
    width: 100%; }
  .books__filters {
    width: 100%;
    padding: 0; } }
