.book-list {
  margin-left: 20px;
}

.book-header {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.book-authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}

.authors, .artists {
  overflow-wrap: break-word;
}
