.card {
  display: flex;
  width: 25%;
  margin: 50px auto;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3); }

.card__left {
  margin-right: 20px;
  margin-left: 5px;
  display: flex;
  flex-direction: column; }

.card__right {
  flex-grow: 1;
  padding: 0 20px; }

.card__right__header {
  text-align: right; }

.card__right__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative; }
