.card {
  display: flex;
  width: 25%;
  margin: 50px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0 rgba(0, 0, 0, 0.75); }

.card__left {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 5px; }

.card__right {
  flex-grow: 1;
  padding: 0 20px; }

.card__right__header {
  text-align: right; }

.card__right__content {
  display: flex;
  margin-top: 15px; }

.card__right__part {
  flex-grow: 1; }
