.letter-selector {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: 0;
    justify-content: space-between;
    margin-left: 5px;
    width: 20px;
}

.letter-selector .letter{
    font-size: 12px;
    font-weight: bold;
}

.letter-selector .letter:hover {
    font-size: 20px;
    cursor: pointer;
}