@import "../styles/variables.scss";

* {
  font-family: 'Roboto', sans-serif;
}

h1, H2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

body {
  padding-top: 40px;
}

.wrapper {
  max-width: 1920px;
}

section {
  padding: 20px;
}


@media screen and (max-width: $navigation_mobile_breakpoint) {
  body {

  }
}