.modal__title {
  font-size: 2.3rem;
  line-height: 110%;
  margin: 1.2rem 0 1.2rem 0;
  color: rgba(0, 0, 0, 0.87); }

.modal__footer {
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box; }

.modal__footer__left {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box; }

.modal__loading {
  height: 100%;
  display: flex;
  align-items: center; }

.drag__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.drag__item:hover .creator__delete {
  opacity: 1;
  visibility: visible;
  color: #4B4B4B; }

.creator__delete {
  opacity: 0;
  visibility: hidden;
  margin-right: 5px;
  transition: all .3s ease-in-out; }
  .creator__delete:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87); }

.creator__content {
  flex-grow: 1; }
