.drag__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.drag__item:hover .creator__delete {
  opacity: 1;
  visibility: visible;
  color: #4B4B4B; }

.creator__delete {
  opacity: 0;
  visibility: hidden;
  margin-right: 5px;
  transition: all .3s ease-in-out; }
  .creator__delete:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87); }

.creator__content {
  flex-grow: 1; }
