.books__sorters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.button--sorter {
  width: 50px; }
  .button--sorter.selected, .button--sorter.selected:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87); }

.button--sorter + .button--sorter {
  margin-top: 5px;
  margin-left: 0 !important; }
