#root > div {
  position: relative; }

.navigation {
  z-index: 1;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4); }

.navigation .wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center; }

.navigation-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  flex-grow: 1; }
  .navigation-menu a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none; }

.navigation-menu__brand {
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none; }

.navigation-menu__user {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center; }

.navigation-menu__user__name {
  font-style: italic;
  color: #aaa;
  margin-right: 10px; }

.navigation-menu__link {
  cursor: pointer;
  padding: 0 .6rem;
  line-height: 36px;
  height: 36px;
  display: flex;
  align-items: center; }
  .navigation-menu__link:hover {
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff; }

.navigation-menu__link__entry {
  padding: 0 1.6em;
  letter-spacing: .5px; }

.navigation-menu__link__submenu {
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  left: -12px;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 12px 0;
  top: calc(100% + 3px);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  visibility: hidden;
  width: 200px; }

.navigation-menu__link--with-submenu {
  position: relative;
  color: rgba(0, 0, 0, 0.87); }

.navigation-menu__link--with-submenu:hover .navigation-menu__link__submenu {
  opacity: 1;
  visibility: visible; }

.navigation-menu__link__submenu__link {
  display: block;
  padding: 0 12px; }

.navigation-menu__link__submenu__link:hover {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.87); }

.navigation-menu__trigger {
  display: none; }

@media screen and (max-width: 768px) {
  .navigation-menu__brand__label {
    display: none; }
  .wrapper {
    flex-wrap: wrap; }
  .navigation-menu__trigger {
    display: block;
    margin-right: 10px; }
  .navigation-menu {
    display: none; }
  .navigation-menu__responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .navigation-menu--toggled {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0; }
    .navigation-menu--toggled .navigation-menu__link__entry {
      padding: 0 1.6em;
      border-bottom: 1px solid #7e7e7e; }
    .navigation-menu--toggled .navigation-menu__link--with-submenu {
      width: 100%;
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
    .navigation-menu--toggled .navigation-menu__link__submenu {
      display: flex;
      flex-direction: column;
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: auto;
      left: 0;
      top: 0;
      padding: 0;
      position: static;
      box-shadow: none; } }
