.notification {
  position: fixed;
  top: calc(40px + 10%);
  left: 50%;
  background-color: rgba(0, 0, 0, 0.87);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  box-sizing: border-box;
  border-radius: 4px; }

.notification__button {
  margin-left: 20px;
  cursor: pointer;
  font-weight: bold; }

.notification__button:hover {
  color: #7e7e7e; }

.notification__message {
  margin: 0; }

@media screen and (max-width: 768px) {
  .notification {
    width: calc(100% - 40px);
    margin: auto;
    left: 0;
    right: 0;
    top: auto;
    bottom: 5%; } }
